
body {
  margin: 0;
  background: #000;
  color: #0ff;
  font-family: monospace;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.terminal {
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid #FCEE0C;
  width: 90%;
  max-width: 800px;
  height: 500px;
  padding: 15px;
  overflow-y: auto;
  box-shadow: 0 0 20px rgba(0,255,255,0.4);
  position: relative;
  display: flex;
  flex-direction: column;
}
.top-bar {
  width: 100%;
  background: linear-gradient(90deg, #FCEE0C, #03D8F3, #FCEE0C);
  background-size: 200% 200%;
  animation: cyberpunk-gradient 3s linear infinite;
  color: #000;
  font-weight: bold;
  font-size: 1.3em;
  letter-spacing: 2px;
  text-align: center;
  padding: 10px 0 8px 0;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 2px 8px rgba(0,255,255,0.2);
}

@keyframes cyberpunk-gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.output {
  margin-bottom: 5px;
  white-space: pre-wrap;
    margin-top: 12px;
}
.input-line {
  display: flex;
  width: 100%;
}
.prompt {
  margin-right: 10px;
  color: #0ff;
}
input {
  background: transparent;
  border: none;
  color: #0ff;
  outline: none;
  flex: 1;
  font-family: monospace;
  font-size: 1em;
}

.modules-section {
  width: 500px;
  max-height: 95vh;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  /* gap: 18px; */
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.7);
  padding: 18px 10px;
  border-radius: 10px;
  scrollbar-width: none; /* Firefox */
}
.modules-section::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.module {
  background: rgba(0, 0, 0, 0.75);
  /* border: 2px solid #FCEE0C; */
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0,255,255,0.3);
  padding: 12px;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  /* box-shadow: 0 0 20px rgba(242,255,0,0.3); */
}
.module-img {
  width: 200px;
  height: 200px;
  background: #222;
  /* border: 2px solid #0ff; */
  border-radius: 8px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
}
.module-title {
  color: #FCEE0C;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 6px;
  text-shadow: 0 0 4px #0ff;
  text-align: center;
}
.module-desc {
  color: #0ff;
  font-size: 0.95em;
  text-align: center;
  text-shadow: 0 0 2px #FCEE0C;
}